<% @rewards.each_with_index do |reward, i| %>
  <div class="grid6 first">
    <h2>
    <%= number_to_currency reward.amount %> towards <%= link_to reward.appeal.title, reward.appeal %>
    </h2>
    <%= reward.description %>
  </div>
<% end %>