/**
green: 8bA636
brown: 73552F

**/

body{
  margin: 0;
  padding: 0;
  background-color: #ededed;
  background: url("../images/white_texture.png") repeat;**/
  font-size: 14px;
  line-height: 18px;
  color: #444;
}

header {
  margin-bottom: 20px;
  height: 120px;
}

header, header a{
  color: #73552F;
  text-decoration: none;
}
  
header h1{
  font-weight: 800;
  margin: 20px 0px;
  font-size: 98px;
  line-height: 77px;
  text-shadow: 0px -2px 1px #542, 0px 4px 5px #fff;
}

h2.headline{
  font-family: ff-nuvo-sc-web-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin: 20px 0px;
  color: #000;
}

footer{
  margin: 50px 0px 10px 0px;
}
.center{
  text-align: center;
}

.nuvo{
  font-family: ff-nuvo-sc-web-pro, sans-serif;
  font-style: normal;
}

.nuvo_bold{
  font-family: ff-nuvo-sc-web-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2.nuvo_bold{
  font-size: 200%;
}

p .nuvo_bold{
  font-size: 125%;
}

.rounded{
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.cta_container{
  margin-bottom: 20px;
}

a.button{
  display: block;
  background-color: #99cc33;
  padding: 7px 0px 13px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 0px #888;
}

.shadow{
  -webkit-box-shadow: 1px 1px 1px #4a4a4a;
     -moz-box-shadow: 1px 1px 1px #4a4a4a;
          box-shadow: 1px 1px 1px #4a4a4a;
}

nav ul{
  margin-top: 55px;
  float: right;
}

nav li{
  float: left;
  background-color: #73552F;
  color: #fff;
  padding: 5px 15px 7px 15px;
  margin: 0px 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 0px -1px 0px #444, 0px 1px 0px #444;
}


.card{
  padding: 5px;
  border: 5px solid #ccc;
  height: 375px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card_container.lifted::after{
  content: "";
  width: 210px;
  height: 20px;
  -webkit-transform: rotate(2deg); 
  -moz-transform:    rotate(2deg);
  box-shadow: 3px 3px 5px #4a4a4a;
  border-radius: 6px;
  background-color: #4a4a4a;
  position:absolute;
  bottom: 20px;
  right: 8px;
  z-index: -1;
}

.card_container.details{
  position: absolute;
  z-index: 2;
}

.