/**
green: 8bA636
brown: 73552F

**/

body{
  margin: 0;
  padding: 0;
  background-color: #ededed;
  background: url("../images/white_texture.png") repeat;**/
  font-size: 14px;
  line-height: 18px;
  color: #444;
}

header {
  height: 120px;
}

header.small{
  height: auto;
}

header, header a{
  color: #73552F;
  text-decoration: none;
}
  
header h1{
  font-weight: 800;
  margin: 20px 0px;
  font-size: 98px;
  line-height: 77px;
  text-shadow: 0px -2px 1px #542, 0px 4px 5px #fff;
}

header.small h1{
  font-size: 50px;
  line-height: 40px;
  margin: 20px 0px 5px 0px;
}

nav ul{
  margin-top: 55px;
  float: right;
}

nav.small ul{
  margin-top: 30px;
}

nav li{
  float: left;
  background-color: #73552F;
  color: #fff;
  padding: 5px 20px 7px 20px;
  margin: 0px 20px;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 0px -1px 0px #444, 0px 1px 0px #444;
}

nav a, nav a:hover, nav a:visited{
  color: #fff;
  text-decoration: none;
}

nav .checkout{
  padding: 4px 15px 4px 15px;
  display: none;
}

nav .checkout img{
  height:20px;
  width: 25px;
  padding-right:3px;
}


footer{
  margin: 50px 0px 10px 0px;
}

.center{
  text-align: center;
}

.nuvo{
  font-family: ff-nuvo-sc-web-pro, sans-serif;
  font-style: normal;
}

.nuvo.bold{
  font-weight: 700;
}

span.nuvo.bold{
  font-size: 130%;
}

h2{
  font-weight: 800;
}
h2.nuvo{
  font-size: 240%
}

.slide h2{
  font-size: 160%;
}

p .nuvo_bold{
  font-size: 125%;
}

.secondary{
  color: #666;
}

.rounded{
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.cta_container{
  margin-bottom: 20px;
}

a.button{
  display: block;
  background-color: #99cc33;
  padding: 7px 0px 13px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 0px #888;
}

.shadow{
  -webkit-box-shadow: 1px 1px 1px #4a4a4a;
     -moz-box-shadow: 1px 1px 1px #4a4a4a;
          box-shadow: 1px 1px 1px #4a4a4a;
}

.border{
  border: 10px solid #fff;
}

.fullshadow{
   -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
      -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
           box-shadow: 0px 1px 5px 0px #4a4a4a;
}


.card{
  padding: 5px;
  border: 5px solid #ccc;
  height: 375px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card_container.lifted::after{
  content: "";
  width: 210px;
  height: 20px;
  -webkit-transform: rotate(2deg); 
  -moz-transform:    rotate(2deg);
  box-shadow: 3px 3px 5px #4a4a4a;
  border-radius: 6px;
  background-color: #4a4a4a;
  position:absolute;
  bottom: 20px;
  right: 8px;
  z-index: -1;
}

.card_container.details{
  position: absolute;
  z-index: 2;
}

.thermometer, .bar{/*, .thermometer::after{*/
  display: block;
  position: absolute;
  z-index: 10;
}

.thermometer, .bar{
  width: 15px;
  opacity: 0.9;
}

.thermometer{
  height: 215px;
  background-color: #fff;
  margin: 20px;
}

.bar{
  background-color: #99cc33;
  height: 0px;
  bottom: -1px;
}

.picture{
  margin-bottom: 10px;
}

.picture img{
  width: 600px;
}

/*
.thermometer::after{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display:block;
  background-color: #99cc33;
  bottom: -40px;
  left: -13px;
}*/

.appeal{
  float: left;
}

p.bigger{
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
}

h3{
  font-size: 150%;
  margin: 10px 0px;
}

.package:hover, .package.selected{
  background-color: #aaa;
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.package .keyword{
  font-weight: 800;
  font-size: 120%;
}

.package{
  padding: 20px;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #eee;
}

.package.top{
  border-top: 0px;
}

.package.bottom{
  border-bottom: 0px;
}

.package h2{
  margin: 0px;
}

.half_opacity{
  opacity: 0.5;
}

.no_opacity{
  opacity: 1 !important;
}

.supporters .bx-window, .supporters .bx-wrapper{
  width: 620px !important;
}
.supporter{
  width: 220px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #eee;
  margin: 10px 0px 20px 0px;
}

#slider.supporters, .supporter, .supporter img{
  height: 50px;
  float: left;
  overflow: hidden;
}

.supporter img{
  padding: 0px 5px;
}

#count{
  color: #fff;
  position: absolute;
  z-index: 100;
}

#count p{
  margin: 0px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  width: 10px;
  position: relative;
  top: -2px;
  left: 11px;
}

.tooltips section{
  display: none;
  background-color: #444;
  background-color: rgba(0,0,0,0.75);
}

.tooltips p {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding: 10px;
}